APP_NAME="Wedding Event Planner"
APP_ENV="local"
APP_DEBUG="true"
APP_URL="http://localhost/wedding_event_planner"
APP_TIMEZONE="Asia/Karachi"

DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="wedding_event_planner"
DB_USER="root"
DB_PASSWORD=""

MAIL_HOST="smtp.gmail.com"
MAIL_PORT="587"
MAIL_ENCRYPTION="tls"
MAIL_USERNAME="your-email@gmail.com"
MAIL_PASSWORD="ijsqcvkhychmhisd"
MAIL_FROM_ADDRESS="your-email@gmail.com"
MAIL_FROM_NAME="Wedding Event Planner"

OTP_EXPIRY_MINUTES="10"
SESSION_NAME="wedding_event_session"