.env
/vendor/

uploads/gallery/*
uploads/packages/*
uploads/profiles/*
uploads/themes/*
uploads/venues/*

!uploads/gallery/.gitkeep
!uploads/packages/.gitkeep
!uploads/profiles/.gitkeep
!uploads/themes/.gitkeep
!uploads/venues/.gitkeep

.env.local
.env.production
Thumbs.db
.DS_Store